/* VARIABLES */

:root {
    --main-color: #FFFFFF;
    --secondary-color: #99AAB5;
    --highlight-color: #4a6af7;
    --main-bg: #2C2F33;
    --secondary-bg: #23272A;
    --error-color: #fc3f3f;
    --main-font: 'Roboto', sans-serif;
    --front-width: 340px;
    --front-padding: 20px;
    --front-wdpad: calc(var(--front-width) + var(--front-padding) * 2);
    --code-width: 340px;
    --code-padding: 20px;
    --code-wdpad: calc(var(--code-width) + var(--code-padding) * 2);
    --change-width: 600px;
    --change-padding: 20px;
    --change-wdpad: calc(var(--change-width) + var(--change-padding) * 2);
}

/* KEYFRAMES */

@keyframes blinker {
    50% {
      opacity: 0.3;
    }
}

/* GENERAL ELEMENTS */

html {
    background-color: var(--secondary-bg);
}

h1 {
    color: var(--main-color);
    font-family: var(--main-font);
    text-align: center;
    font-size: 20px;
}

h2 {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
}

p {
    font-family: var(--main-font);
    font-size: 14px;
}

hr {
    border: 1px solid var(--main-color);
}

input {
    background-color: var(--main-bg);
    color: var(--main-color);
    width: 30%;
    height: 30px;
    border: solid 1px var(--main-color);
    position: unset;
    margin: auto;
    display: block;
    font-family: var(--main-font);
}
input:hover {
    background-color: var(--highlight-color);
}

::-webkit-scrollbar {
    width: 0.2rem;
}
::-webkit-scrollbar-track {
    width: 0.2rem;
    background-color: var(--main-color);
}
::-webkit-scrollbar-thumb {
    width: 0.2rem;
    background-color: var(--highlight-color);
}

#error {
    background-color: var(--error-color);
    color: var(--main-color);
    font-family: var(--main-font);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

/* GENERAL CLASSES */

.front {
    width: var(--front-width);
    background-color: var(--main-bg);
    border: 1px solid var(--main-color);
    margin-top: 30px;
    margin-bottom: 30px;
    position: fixed;
    left: 50%;
    margin-left: calc(var(--front-wdpad)/2*-1);
    padding: 20px;
    overflow-y: scroll;
    max-height: 85%;
}

.code {
    width: var(--code-width);
    background-color: var(--main-bg);
    border: 1px solid var(--main-color);
    margin-top: 30px;
    margin-bottom: 30px;
    position: fixed;
    left: 50%;
    margin-left: calc(var(--code-wdpad)/2*-1);
    padding: 20px;
    overflow-y: scroll;
    max-height: 30%;
}

.change {
    width: var(--change-width);
    background-color: var(--main-bg);
    border: 1px solid var(--main-color);
    margin-top: 30px;
    margin-bottom: 30px;
    position: fixed;
    left: 50%;
    margin-left: calc(var(--change-wdpad)/2*-1);
    padding: 20px;
    overflow-y: scroll;
    max-height: 85%;
}

.disp {
    display: unset;
}

.invis {
    display: none;
}

.pointer {
    cursor: pointer;
}

.fast-blink {
    animation: blinker 1s linear infinite;
}
.slow-blink {
    animation: blinker 3s linear infinite;
}
.link-blink {
    cursor: pointer;
}
.link-blink:hover {
    animation: blinker 1s linear infinite;
}

.error {
    cursor: not-allowed;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}

/* WRAPPER */

#wrapper p {
    color: var(--main-color);
}

/* FRONT SITE */

#front {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 14px;
}
#front b, #front a {
    color: var(--highlight-color);
    text-decoration: none;
}

#front ol {
    list-style: none;
    counter-reset: list-counter;
    padding: 0px;
}
#front ol li {
    counter-increment: list-counter;
}
#front ol li::before {
    content: counter(list-counter) " > ";
}
#front ul {
    list-style: none;
    padding: 0px;
}

#front #textarea {
    margin: auto;
    position: unset;
}
#front textarea {
    background-color: var(--main-bg);
    border: 1px solid var(--main-color);
    resize: none;
    color: var(--main-color);
    margin: auto;
    position: unset;
    display: block;
}
#front textarea::-webkit-scrollbar {
    width: 0.15rem;
}
#front textarea::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    width: 0.15rem;
}
#front textarea::-webkit-scrollbar-track {
    background-color: var(--main-color);
    width: 0.15rem;
}

/* CODE RECEIVE */

#code h2 {
    font-size: 40px;
    color: var(--highlight-color);
}

/* CHANGELOG */

#version-btn:hover {
    color: var(--highlight-color);
    text-decoration: underline;
    animation: blinker 2s linear infinite;
}

.change-back-btn {
    background-color: var(--main-bg);
    color: var(--main-color);
    width: 60px;
    height: 30px;
    border: solid 1px var(--main-color);
    margin-right: 0;
    top: 5px;
    right: 5px;
    position: absolute;
    font-family: var(--main-font);
}

.cli {
    padding: 10px;
    transition: ease-in;
    transition-duration: 700ms;
}

.cli:hover {
    background-color: var(--secondary-bg);
    border-radius: 5px;
    transition-duration: 100ms;
}

#change {
    color: var(--main-color);
    font-family: var(--main-font);
}

.timestamp {
    color: var(--secondary-color) !important;
    text-align: right;
    margin-bottom: 0px;
}